@import "tailwindcss";

:root {
  --pc: #b0060d;
  --sc: #041496;
  --white: #d8d8d8;
  --black: #080808;
  --hover1: #640b0e;
  --hover2: #929292;
}


html {
  scroll-behavior: smooth;
}

.top{
  color: var(--white);

}

.cta-btn{
  background-color: var(--pc);
}

.tt{
  color: var(--white);
}
.tt:hover{
  color: var(--pc);
}
.tt3{
  color: var(--pc);
}

.tn{
  color: var(--pc);
  font-weight: 700;

}
.tn:hover{
  color: var(--sc);
  transform: scale(1.1);

}
.tb{
  background: var(--pc);
  color: var(--sc);
}
.tc{
  color: var(--white);
}
.tc:hover{
  color: var(--hover2);
  background-color: var(--hover1);
  transform: scale(1.05);
}
.tg{
  color: var(--sc);
  font-weight: 700;
  
}
.ty{
  color: var(--pc);
  &:hover{
    color: var(--sc);
  }
}
.txt{
  color: var(--white);
  font-size: 1.2rem;
}
.txt2{
  color: var(--pc);
  font-size: 3rem;
}
.txt3{
  color: var(--black);
}
.hero-text{
  color: var(--white);

}

.btn1{
  color: var(--white);
  background: var(--pc);

}
.btn1:hover{
  color: var(--white);
  background: var(--hover1);
  transform: scale(1.05);
}
.btn2{
  color: var(--sc);
  background: var(--white);
  cursor: pointer;
}
.btn2:hover{
  color: var(--sc);
  background: var(--hover2);
  transform: scale(1.05);
}

.gd{
  border: 1px solid var(--pc);
}

.soc{
  color: var(--pc);

}
.soc:hover{
  color: var(--hover1);
  transform: scale(1.05);
  border: 1px solid var(--hover1);
}

.cta-title{
  color: var(--pc);
  font-size: 2rem;
}